body {
    font-family: 'Segoe UI', sans-serif;
}
.pagelinks{
    text-align:right;
    font-size:15px;
}
.headertable{
    width:100%;
}
.carouselImage{
    width:400px;
    height:300px;
}
.tdspacing{
    text-align:start left;
     padding: 20px;
     align-content:center;

}
hr{
    padding:10px;
}
.mainpage{
    margin-left:200px;
    margin-right:200px;
    margin-top:100px;
    margin-bottom:100px;
}
h1,p {
margin: 0;
}

h2{
    text-align:center;
}
span {
    font-style: italic;
}

